@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-space-grotesk: 'Space Grotesk', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #ffffff;
}

html {
  background-color: #ffffff;
}

body {
  font-family: var(--font-space-grotesk);
  background-color: #ffffff;
  background-image: url('/bg2.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

