@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-space-grotesk: 'Space Grotesk', sans-serif;
  --color-white: #ffffff;
  --min-screen-height: 100vh;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: var(--min-screen-height);
  background-color: var(--color-white);
}

html {
  background-color: var(--color-white);
}

body {
  font-family: var(--font-space-grotesk);
  background-color: var(--color-white);
  background-image: url('/bg2.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

@keyframes checkmarkAnimation {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

